#prevPage,
#nextPage {
    color: black;
    font-size: bold;
    background-color: #f7f7f7;
    padding: 8px 16px;
    border-radius: 5px;
}

#prevPage:hover,
#nextPage:hover {
    color: white;
    background-color: orange;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.pagination-button {
    font-size: 20px;
    background-color: #f7f7f7;
    color: black;
    border: none;
    padding: 10px;
    margin: 8px;
}

button.pagination-button:hover {
    cursor: pointer;
}

.pagination-button:not(.active) {
    font-size: 16px;
    color: black;
    border: none;
    background-color: transparent;
    padding: 0 5px;
}

.pagination-button.active {
    border-radius: 5px;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 5px;
    text-decoration: none;
}

.pagination-button.active:hover {
    color: black;
}

@media (max-width: 600px) {
    .pagination-button {
        font-size: 14px;
        padding: 6px;
        margin: 4px;
    }

    #prevPage,
    #nextPage {
        padding: 6px 12px;
    }
    
    .pagination-numbers {
        padding: 4px;
    }
}
