@import './variables';
@import './general';
@import './mixins';
@import './variables';
@import "../components/footer";
@import '../components/card';
@import '../components/movies';
@import "../components/feature--header";
@import "../components/feature--hero";


* {
  padding: 0;
  margin: 0;
}

body {
  align-items: center;
  box-sizing: content-box;
  color: var(--black-color1);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 480px;
}

// Se creo otro container selectivo para la seccion de las peliculas.
.container-movies {
  min-width: 320px;
  max-width: 1024px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container-movies {
    padding-left: 75px;
    padding-right: 75px;
  }
}

.hero__movies-watched-queue-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero__movies-watched-queue-container button:hover{
  cursor: pointer;
}

.hero__btn--home {
  text-decoration: none;
}

#libraryButton {
  text-decoration: underline;
  background-color: white;
  color: black;
}

#libraryButton.active {
  text-decoration: none;
}

#libraryButton.active ~ .hero__btn--home {
  text-decoration: underline;
}

.hero__btn--home.active {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.search-form input {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
}

.search-form button {
  background: transparent;
  border: none;
  color: white;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.pagination-button {
  background-color: white;
  border: 0px;
  color: black;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: orange;
  color: white;
  border: 1px solid black;
}

.erase-local-storage-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.btn__erase-lists {
  background-color: orange;
  color: black;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn__erase-lists:hover {
  background-color: white;
  color: orange;
  text-decoration: none;
}

.movie__list p {
  text-align: center;
}

.movie__list button {
  background: #FF6B08;
  color: white;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 8px;
}

.movie__list button:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
}